
body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    
}


header {
    color: #fff;
    z-index: 10;
    position: relative;
    height: 42rem;
    background: linear-gradient(to right, #00c6ff, #0072ff); 
    padding: 10px 0;
    text-align: center;
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 0;
    
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: left;
    padding: 5vh;
    i{
        display: none;
    }
}
nav {
    margin-top: 10px;
    text-align: right;
    padding: 5vh;
}
nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 15px;
    font-size: 16px;
}


@media screen and (max-width: 600px) {
    header {
        height: 40px;
        background: black;
        color: #fff;
        position: relative;
        padding: 10px 0;
        text-align: center;
        display: flex;
        grid-template-columns: 20% 80%;
        margin-bottom: 0;
   
    
    }

    







    .logo {
        display: flex;
        width: 92vw;
        
        justify-content: space-between;
        text-align: center;
        padding: 1rem;

    
        i{
            display: block;
            
        }
    }


    nav {
        text-align: center;
        /* padding: 2vh; */
        display: none;
    }
   
}














/*  HERO SECTION */

.hero-section {
    display: flex;
    background-color: white;
    align-items: center;
    margin: auto;
    z-index: 20;
    position: relative;
    margin-top: -35rem;
    width: 88%;
    height: fit-content;
    border-radius: 3vh;
    img{
        width: 50%;
        height: 50%;
        padding: 2rem;
        border-radius: 10vh;
    }
    

}
.navbar-links {

    ul{
    list-style: none;

}
}

.intro img {
    border-radius: 50%;
}

.intro-text {
    flex: 1;
    padding-left: 2vw;
    width: 50%;
    
}
.fouricons {
    margin-top:  3vh ;
    
    
}
.social{
    opacity: calc(0.3);
    font-size: 6vh;
    margin-top: 8vh;
    
  
}
@media screen and (max-width: 600px) {
    body{
        margin: 0;
        padding: 0;
    }
}



@media screen and (max-width: 600px) {
.hero-section {
      
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        background-color: whitesmoke;
    img {        
        width: 90%;

    }
    .intro-text {
        width: 100%;
    }
   
  
    }
}











/* about my self */


.aboutmyself {
    margin-top: -8rem;
    display: flex;
    padding: 20rem 3rem 10rem 3rem;
    background-color:whitesmoke;
    z-index: 10;
    gap: 5rem;


    h1{
        font-size: xx-large;
        font-weight: 900;
    }
}
.about-text{
    width: 50%;
}

.about-figures{
    display: flex;
    gap: 1rem;
    text-align: center;
    text-align: justify;
    justify-content: space-between

    
    

}
.about3{
    padding: 1rem;
    background-color: transparent;
    border: solid rgb(139, 133, 133);
   
}

.about-more{
    width: 50%;
    justify-content: center;
   

}


.progress-bar-container {
    background-color: #e0e0e0; 
    border-radius: 1.2rem; 
    border: solid white;
    margin-bottom: 2rem;
  }
  
  .progress-bar {
    height: 1rem;
    border-radius: 1.2rem; 
    transition: width 1s ease-in-out; 
  }
  
    .after-effects { width: 85%;  background: linear-gradient(to right, #c3dbe1, #0072ff)}
   


    @media screen and (max-width: 600px) {


        .aboutmyself {
            display: flex;
            flex-direction: column;
            padding: 10px 5px;
            margin-top: 30px;
             background: linear-gradient(to bottom, #faf7f7, #ffffff); 

            .about-text{
                width: 100%;
                
                
            }
            h1{
                font-size: large;
                font-weight: 900;
            }
       
        .about-figures{
            display: flex;
            flex-direction: column;
    
    
        }
      
        }
    .about-more{
        width: 90%;
        
    }
   
    }












/* SERVICES */

.services{
    padding: 18vh;
    text-align: center;   
    background-color: rgb(231, 237, 244);
}
.service{
    display: flex;
    margin-top: 10vh;
}


.threebox {
    background-color: white;
    margin: 5vh;
    padding: 3vh;
    border-radius: 1rem;
    align-items: right;
    text-align: left;
    justify-content: center;
    word-spacing: normal;

}


@media screen and (max-width: 600px) {


    .services {
        display: flex;
        flex-direction: column;
    }
    .service{
        display: flex;
        flex-direction: column;
        

    }
  
       
    
  
    }
    .threebox{
        text-align: start;
        h1{
            width: 90%;
            font-size: small;
        }
}













/*  FEATURED PRODUCT */

.featured-products{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 100px;

    
}
.button-f{
    background: linear-gradient(to right, #00c6ff, #0072ff); 
    border: none;
    width: 20%;
    height: 2rem;
    
}
.projects nav-bar {
    margin: 1em 0;
}
.nav-bar a {
    text-decoration: none;
    color: #000;
    margin: 0 1em;
}

.card-container{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    padding: 20px;
  
}
.card {
    margin: 1em;
    background-color:whitesmoke;
    border-radius: 5rem;


}


.card img {
    width: 100%;
}
.card p {
    /* padding: 1em; */
    opacity: 0.5;
}


/* .projects load-more {
    font-size: 1em;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
} */
@media screen and (max-width: 600px) {


    .featured-products {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
   
    .button-f{
        background: linear-gradient(to right, #00c6ff, #0072ff); 
        border: none;
        width: 50%;
        height: 2.5rem;
        text-align: center;
        margin: auto;

        
    }
    .card-container{
        display: flex;
        flex-direction: column;
        
  
    }

    .nav-bar{
        width: 100%;
        a {
            text-decoration: none;
            color: #000;
            margin: 0 0.5em;
    
    } 
    }
}















/*    TESTIMONIALS     */


.testimonials {
    padding: 8rem 5rem;
    text-align: center; 
    background-color: rgb(231, 237, 244);

}
.testimon{
    display: flex;
}
.testimon > div {
    background-color: white;
    margin: 5vh;
    padding: 3vh;
    border-radius: 1rem;
    align-items: right;
    text-align: left;
    justify-content: center;
    word-spacing: normal;

}


@media screen and (max-width: 600px) {


    .testimonials {
        display: flex;
        flex-direction: column;
        padding: auto auto;
        text-align: center; 
        background-color: rgb(231, 237, 244);
    
   
  
    }
    .testimon{
        display: flex;
        flex-direction: column;
        

    }
}






/*       FOOTER      */

  


footer {
    background:black;
    color: #fff;
    text-align: justify;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 40% 40% 20%;

   
}
footer > div{
  margin: 2rem;
   

  p{
    text-align: start;
    
    
  }
  input{
    width: 80%;
    background-color: transparent;
    border-color: #b0a3a3;
   border-radius: 2rem;
   height: auto;
  }
    
}


@media screen and (max-width: 600px) {


    footer {
        display: flex;
        flex-direction: column;
  
   
  
    }
}










